@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

.animation-btn {
	background-color: red;
}

.playloader {
  animation: loader 2.5s;
}

@keyframes loader {
  0% {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 99;
    background: #fff url(images/black.loader.gif) no-repeat center;
    background-size: 350px;
  }
  100% {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 99;
    background: #fff url(images/black.loader.gif) no-repeat center;
    background-size: 350px;
  }
}

.contaner {
	margin: 0 auto;
	max-width: 1100px;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 65vh;
	flex-direction: column;
}

.login > h1 {
	font-family: "Roboto", "sans-serf";
}

.box form {
	display: flex;
	flex-direction: column;
	gap: 1.2em;
	align-items: center;
	max-width: 100%;
}

form > input {
	padding: 10px;
	border-radius: 5px;
	width: 230px;
	border: 1px solid #333;
}

.error {
	margin-top: 10px;
	color: #fff;
	font-family: "Roboto", "sans serif";
	font-size: 12px;
	background-color: #c41132;
	padding: 10px;
	display: none;
	border-radius: 5px;
}

input::placeholder {
	color: #999;
}

input[type=passwor] {
	border: 1px solid #333;
}
input[type=password]:focus {
	border: 2px solid #ffbb0f;
	outline: 1px solid #222;
}
input[type=name] {
	border: 1px solid #333;
}
input[type=name]:focus {
	border: 2px solid #ffbb0f;
	outline: 1px solid #222;
}
input[type=email] {
	border: 1px solid #333;
}
input[type=email]:focus {
	border: 2px solid #ffbb0f;
	outline: 1px solid #222;
}



.img-text {
	display: flex;
	align-items: center;
	margin: 30px;
}

.img-text img {
	border-radius: 20px;
}

.flex {
	margin-left: 10px;
	display: flex;
    flex-direction: column;
}

.flex > h1 {
	font-family: "Roboto", sans-serif;
	font-weight: 450;
	font-size: 17px;
	margin: 0;
}

.flex > p {
	font-family: "Roboto", sans-serif;
    font-weight: 300;
	font-size: 12px;
	margin: 0;
	color: #777;
}

.box button {
	width: 120px;
	padding: 8px 10px 8px 10px;
	font-family: "Roboto", "sans-serif";
	font-size: 15px;
	border: none;
	font-weight: 400;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	background-color: #222;
}


